apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.configMap.name }}
data:
  SERVER_PORT: {{ .Values.configMap.data.SERVER_PORT | quote }}
  SPRING_CLOUD_GATEWAY_SERVER_WEBFLUX_DISCOVERY_LOCATOR_ENABLED: {{ .Values.configMap.data.GATEWAY_DISCOVERY_ENABLED | quote }}
  SPRING_CLOUD_GATEWAY_SERVER_WEBFLUX_DISCOVERY_LOCATOR_LOWER_CASE_SERVICE_ID: {{ .Values.configMap.data.GATEWAY_DISCOVERY_LOWERCASE | quote }}